.recipes-steps-container
  = yield

%nav.navbar.navbar-light.bg-light.navbar-expand
  %a.btn.btn-outline-secondary{href: @url_back}
    %i.fas.fa-angle-left
    = t '.back'

  .flex-grow-1

  %a.btn.btn-outline-primary{href: @url_forward}
    = t '.forward'
    %i.fas.fa-angle-right
